@import "./styles/cmps/ControllersList";
@import "./styles/cmps/ControllerPreview";
@import "./styles/cmps/MainFader";
@import "./styles/cmps/AdminPanel";
@import "./styles/cmps/ProgramPreview";
@import "./styles/cmps/MusicPlayer";
@import "./styles/cmps/Programs";
@import "./styles/cmps/SongList";
@import "./styles/cmps/SongPreview";

@import "./styles/cmps/Icons/PlayIcon";
@import "./styles/cmps/Icons/StopIcon";

@import "./styles/helpers/mixins";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
